<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h2><%= title %></h2>
    <a href="/api/v1/todos">View Todos</a>
    <a href="/create">Create a todo</a>
</body>
</html>
